ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    li{
        float: left;
        a{
            display: block;
            color: rgb(238, 241, 26);
            text-decoration: none;
            padding: 20px 20px;
            border-bottom: 1px solid transparentize($color: rgb(223, 10, 10), $amount: 1);
            transition: border-bottom 0.5s;
            transition-timing-function: ease-in-out;
            &:hover{
                border-bottom: 10px solid opacify($color: #0f0f0f, $amount: 1);
            }
        }
        img {
            border: 1px solid rgb(15, 15, 15);
            border-radius: 50px;
            padding: 0x;
            width: 50px;
            margin-right: 20px;
            margin-left: 50px;
        }
    }
    select{
        float: right;
        padding: 10px;
        margin-right: 70px;
        margin-top: 10px;
        background-color: rgb(33, 8, 143);
        
        option{

        }
    }


}

