//all the colors
$common-colors:rgba(0, 0, 0, 0.76);
$background-color:rgb(158, 8, 158);
$links-colors:#ffff00;
$text-colors:#ffffff;
$select-background:#ffdab9;
//page side bar colors or react tab colors
$tabs-select-color:rgba(0, 217, 255, 0.432);
$tabs-colors:#808080;
$tab-edge:#6eb800;
$tabs-background:#1c1d1f;